/*
 * layout.css
 */

@font-face {
    font-family: DejaVu;
    src: url('fonts/DejaVuSans.eot');
    src: local('☺'),
         url("fonts/DejaVuSans.eot?#iefix") format("embedded-opentype"),
         url("fonts/DejaVuSans.woff") format("woff"),
         url("fonts/DejaVuSans.svg") format("svg"),
         url("fonts/DejaVuSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: URWGothicDemi;
    src: url('fonts/URWGothicL-Demi.eot');
    src: local('☺'),
         url("fonts/URWGothicL-Demi.eot?#iefix") format("embedded-opentype"),
         url("fonts/URWGothicL-Demi.woff") format("woff"),
         url("fonts/URWGothicL-Demi.svg") format("svg"),
         url("fonts/URWGothicL-Demi.ttf") format("truetype");
    font-weight: 600; /* demi-bold */
    font-style: normal;
}

@font-face {
    font-family: URWGothicBook;
    src: url('fonts/URWGothicL-Book.eot');
    src: local('☺'),
         url("fonts/URWGothicL-Book.eot?#iefix") format("embedded-opentype"),
         url("fonts/URWGothicL-Book.woff") format("woff"),
         url("fonts/URWGothicL-Book.svg") format("svg"),
         url("fonts/URWGothicL-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 0;
    margin: 0;
}

body {
    font-family: DejaVu, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 80%;
    color: rgb(48,48,48);
    margin: 10px;
    height: 100%;
}

.container {
    width: 100%;
    padding: 10px;
    margin: auto;
}

.anotherContainer {
    width: 50%;
    padding: 10px;
    margin: auto;

}

p {
    margin-bottom: 1ex;
}

a {
    border-bottom: 1px dotted rgb(120, 120, 120);
    color: inherit;
    height: inherit;
    line-height: inherit;
    text-decoration: none;
    font-size: 20px
}

a:hover {
    border-bottom: 1px dotted rgb(255, 204, 0);
    color: rgb(255, 204, 0);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    font-family: URWGothicDemi, sans-serif;
    font-weight: 100; /* demi-bold */
    font-style: normal;
    color: rgb(64, 64, 64);
    border: none;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    padding-top: 10px;
    margin: 2ex 0px 1ex 0px;
}

h1 {
    margin: 0px 0px 1ex 0px;
}

h3 {
  font-weight: 500;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

li {
    padding-left: 3em;
    text-indent: -1em;
    margin-bottom: 1ex;
}

ul>li:before {
    content: "\2022";
    padding-right: 0.5em;
    color: rgb(120, 120, 120);
}

table {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
    margin: 0 auto;
}

.anotherContainer table {
  table-layout: fixed; width: 60%;
}

.anotherContainer td {
  word-wrap:break-word;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
    margin: auto;
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
    margin: auto;
}


tr.alt td
{
    background-color: rgb(230, 230, 230);
}

code {
    font-size: 120%;
}
